In [42]:
import pandas as pd
from sklearn.feature_selection import VarianceThreshold
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
import numpy as np

In [43]:
data = pd.read_csv('data/day08_digit recognizor.csv')
data.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [44]:
X,y = data.iloc[:,1:],data.iloc[:,0]

selector = VarianceThreshold()
X_var0 = selector.fit_transform(X)
X_var0 = pd.DataFrame(X_var0)
X_var0.head()

,0,1,2,3,4,5,6,7,8,9,...,698,699,700,701,702,703,704,705,706,707
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [45]:
np.median(X.var().values)

1352.286703180131

In [46]:
X_fsvar = VarianceThreshold(threshold= np.median(X.var().values))
X_fsvar = X_fsvar.fit_transform(X)
X_fsvar.shape

(42000, 392)

In [47]:
rfc = RandomForestClassifier(n_estimators=100,random_state=100)
score = cross_val_score(rfc,X_fsvar,y,cv=3).mean()
score

0.9619761904761904

In [38]:
from sklearn.feature_selection import SelectKBest,chi2

#  相关性
X_fschi = SelectKBest(chi2,k=300).fit_transform(X_fsvar,y)
X_fschi = pd.DataFrame(X_fschi)
X_fschi

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,18,30,137,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,25,130,155,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41995,0,0,0,0,0,0,0,0,0,0,...,46,0,0,0,0,0,0,0,0,0
41996,0,0,0,0,0,0,0,0,0,0,...,75,0,0,0,0,0,0,0,0,0
41997,0,0,0,0,0,0,0,0,0,0,...,255,0,128,255,255,255,128,0,0,0
41998,0,0,0,146,237,252,189,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,74,250,59

In [41]:
rfc = RandomForestClassifier(n_estimators=100,random_state=100)
score = cross_val_score(rfc,X_fschi,y,cv=3).mean()
score

0.9569761904761904

In [51]:
# 1. 卡方检验
chivalue,pvalue_chi = chi2(X_fsvar,y)

In [54]:
k = chivalue.shape[0] - (pvalue_chi > 0.05).sum()
k

392

In [57]:
X_fschi = SelectKBest(chi2, k = k).fit_transform(X_fsvar,y)
X_fschi

array([[  0,   0,   0, ...,   0,   0,   0],
       [  0,   0,   0, ...,   0,   0,   0],
       [  0,   0,   0, ...,   0,   0,   0],
       ...,
       [  0,   0,   0, ...,   0,   0,   0],
       [  0,   0,   0, ...,   0,   0,   0],
       [  0,   0,   0, ...,  74, 250,  59]], dtype=int64)

In [59]:
rfc = RandomForestClassifier(n_estimators=100,random_state=100)
score = cross_val_score(rfc,X_fschi,y,cv=3).mean()
score

0.9619761904761904

In [61]:
#  2. F 检验
from sklearn.feature_selection import f_classif
F,pvaules_f = f_classif(X_fsvar,y)
k = F.shape[0] - (pvaules_f > 0.05).sum()
k

392

In [63]:
# 3. 互信息法  捕捉线性关系与非线性关系
from sklearn.feature_selection import mutual_info_classif

result = mutual_info_classif(X_fsvar,y)
result

array([0.07070842, 0.08989007, 0.10374705, 0.1085555 , 0.11374049,
       0.10457419, 0.07837875, 0.04708195, 0.07906694, 0.09492777,
       0.12738845, 0.13961527, 0.16044077, 0.16459462, 0.15249001,
       0.12904815, 0.09255529, 0.06613671, 0.03376724, 0.02686833,
       0.07007679, 0.09567284, 0.1242633 , 0.14869632, 0.1832557 ,
       0.2077109 , 0.22274643, 0.23971838, 0.21915073, 0.17976752,
       0.13650667, 0.10431588, 0.07829957, 0.06403252, 0.04857968,
       0.02745759, 0.05480852, 0.07489086, 0.10062084, 0.11649414,
       0.13762899, 0.14803382, 0.16135979, 0.17407228, 0.18704728,
       0.17801064, 0.14741208, 0.13302724, 0.11279843, 0.09339667,
       0.08223652, 0.0753958 , 0.07089743, 0.0442542 , 0.06161143,
       0.0754478 , 0.08494614, 0.09672117, 0.10697825, 0.10424115,
       0.10661244, 0.11305829, 0.11750648, 0.11431121, 0.11632763,
       0.11923433, 0.11474979, 0.10118663, 0.09594978, 0.08175721,
       0.07307297, 0.04163769, 0.05784922, 0.06189211, 0.07597319,
       0.09550554, 0.12275711, 0.14287969, 0.1430722 , 0.12645882,
       0.10042817, 0.12081062, 0.11320432, 0.12374077, 0.12520717,
       0.13903225, 0.12784497, 0.10381428, 0.08831532, 0.06446314,
       0.04630123, 0.0550106 , 0.0729882 , 0.09422457, 0.13756855,
       0.19057851, 0.19791364, 0.1599658 , 0.11134418, 0.09912569,
       0.12839804, 0.12329355, 0.13016714, 0.14523649, 0.15176313,
       0.1421527 , 0.12289252, 0.09291894, 0.06945427, 0.04355435,
       0.04680767, 0.07936032, 0.12102678, 0.18380986, 0.22202107,
       0.19538326, 0.12021992, 0.06725835, 0.10895444, 0.150162  ,
       0.1180428 , 0.13095273, 0.15513605, 0.15794229, 0.14307322,
       0.12605362, 0.10128151, 0.07481591, 0.03096586, 0.05615266,
       0.09174032, 0.15777693, 0.20612184, 0.21288963, 0.17938937,
       0.12212922, 0.10977839, 0.18100517, 0.1892114 , 0.11920173,
       0.14619271, 0.18277251, 0.1617962 , 0.13638294, 0.13931967,
       0.12306744, 0.0826982 , 0.03326468, 0.06267483, 0.12358307,
       0.18820398, 0.22259825, 0.22444584, 0.19324322, 0.16468689,
       0.19784699, 0.26000902, 0.2204527 , 0.14080237, 0.17827694,
       0.18840882, 0.13688073, 0.12528965, 0.14747992, 0.13732398,
       0.10012167, 0.04238561, 0.09890748, 0.15363552, 0.2130045 ,
       0.22802871, 0.21482519, 0.19588091, 0.20460661, 0.25359808,
       0.29159928, 0.21173551, 0.17429685, 0.2195911 , 0.18507096,
       0.11919414, 0.12326504, 0.15741952, 0.14367715, 0.10143949,
       0.06253338, 0.11384096, 0.18148578, 0.22004601, 0.22531189,
       0.194847  , 0.17895332, 0.17597509, 0.24917311, 0.27954306,
       0.19714489, 0.21017803, 0.24776243, 0.18440905, 0.12553767,
       0.13517864, 0.14888309, 0.14866449, 0.08751104, 0.06617153,
       0.13551257, 0.19600924, 0.22313599, 0.22126164, 0.19343263,
       0.17018771, 0.19904395, 0.25773938, 0.27176046, 0.20244547,
       0.23325349, 0.23178151, 0.15658278, 0.12804778, 0.15885137,
       0.1637585 , 0.12777125, 0.08290229, 0.07878414, 0.13342424,
       0.19080855, 0.21056395, 0.20190529, 0.18265982, 0.17873634,
       0.22062038, 0.2639708 , 0.25161193, 0.18758191, 0.21613734,
       0.18278374, 0.1325563 , 0.13800487, 0.16463687, 0.14848057,
       0.11233441, 0.06485818, 0.09308623, 0.13715264, 0.17955476,
       0.19708313, 0.18713325, 0.19662341, 0.20116339, 0.22225958,
       0.24775834, 0.19790985, 0.15656506, 0.15654744, 0.12111894,
       0.12671598, 0.16557271, 0.18018848, 0.14343101, 0.0996398 ,
       0.05806932, 0.0356588 , 0.09328099, 0.14769633, 0.19214371,
       0.19703327, 0.20124499, 0.21167875, 0.21526669, 0.20372283,
       0.19768148, 0.13973911, 0.10181151, 0.10016264, 0.11074785,
       0.16214119, 0.18849666, 0.183244  , 0.13385979, 0.08483647,
       0.05808953, 0.05369087, 0.10615423, 0.16318346, 0.20168692,
       0.21501891, 0.22051764, 0.23184637, 0.1998338 , 0.16782141,
       0.13980986, 0.08382343, 0.07091308, 0.08986105, 0.13754911,
       0.18567094, 0.19166477, 0.15208389, 0.11401646, 0.08299678,
       0.05181578, 0.05120184, 0.10611729, 0.16355086, 0.21655968,
       0.24023681, 0.23208346, 0.21192845, 0.17724909, 0.13710932,
       0.10753122, 0.07178449, 0.0756114 , 0.10330111, 0.14514737,
       0.16466419, 0.15354693, 0.11953266, 0.0888721 , 0.06473177,
       0.08970589, 0.15021892, 0.20256132, 0.22904286, 0.23371185,
       0.19712304, 0.14143366, 0.09479541, 0.0760271 , 0.06164521,
       0.09039555, 0.10438793, 0.1206357 , 0.12061138, 0.09233396,
       0.0769231 , 0.05992405, 0.05016453, 0.05985604, 0.10657132,
       0.14869114, 0.18576373, 0.19474307, 0.1918356 , 0.16048672,
       0.14026595, 0.12087814, 0.11361163, 0.10860662, 0.10405137,
       0.08323877, 0.07560426, 0.05499226, 0.04104534, 0.03051169,
       0.05962233, 0.07804451, 0.10969804, 0.13036701, 0.15781349,
       0.17602334, 0.18500584, 0.1803161 , 0.15297034, 0.11759262,
       0.09953024, 0.07304748, 0.05856939, 0.03404937, 0.01836862,
       0.02616926, 0.04346349, 0.07006787, 0.08496484, 0.11176123,
       0.12512906, 0.12096455, 0.10499599, 0.08874806, 0.06704524,
       0.06845957, 0.04192076, 0.02625935, 0.06638093, 0.08210364,
       0.10497846, 0.11486005, 0.11489708, 0.10086937, 0.08573749,
       0.07097859, 0.05655265])

In [66]:
k = result.shape[0] - sum(result <= 0)
k

392